.container {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 190px;
    margin-bottom: 190px;
    width: 1420px;
    height: 700px;
}

a {
    padding: 10px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

.score {
    height: 100%;
    padding-top: 55px;
    font-size: 150px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    
    grid-column-start:1; 
    grid-column-end:1; 
    grid-row-start:1; 
    grid-row-end:2;    
}

.team-name {
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;

    grid-column-start:4; 
    grid-column-end:4; 
    grid-row-start:1; 
    grid-row-end:2; 
}

.team-name-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.team-name-text {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.vs-text {
    font-size: 80px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;

    position: absolute;
    left: 920px;
    top: 490px;
}

.picture-orga {
    width: 100%;
    height: 100%;
    grid-column-start:2; 
    grid-column-end:2; 
    grid-row-start:1; 
    grid-row-end:1; 
    object-fit: contain;
}

.picture-team {
    width: 100%;
    height: 100%;
    grid-column-start:3; 
    grid-column-end:3; 
    grid-row-start:1; 
    grid-row-end:1; 
    object-fit: contain;
}

.toptext {
    display: inline-block;
    width: 420px;
    height: 50px;
    background-color: blue;
}

.team-top {
    display: grid;
    height: 300px;
    width: 100%;
    grid-template-rows: 100fr; 
    grid-template-columns: 20% 30% 30% 20%; 
    background: radial-gradient(circle, #173F7A 0%, #122543 100%);
    grid-auto-flow: column;
}

.team-bottom {
    display: grid;
    height: 300px;
    width: 100%;
    background: radial-gradient(circle, #6C8DBA 0%, #5A6F8C 100%);
    
    grid-template-rows: 100fr; 
    grid-template-columns: 20% 30% 30% 20%; 
    grid-auto-flow: column;
}

.announce-text {
    display: inline-block;
    margin-bottom: 3px;
    height: 50px;
    background: radial-gradient(circle, #173F7A 0%, #122543 100%);
}

.caster-text{
    margin-top: 3px;;
    background: radial-gradient(circle, #6C8DBA 0%, #5A6F8C 100%);
    display: inline-block;
}

.sponsorContainerBottomMiddle{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0);
    background-color:rgba(10,10,10,.5);
    height: 110px;
}

.sponsorContainerBottomLeft{
    position: absolute;
    left: 0%;
    bottom: 0px;
    transform: translate(-0%, 0);
    background-color:rgba(10,10,10,.5);
    height: 110px;
}
.sponsorContainerBottomRight{
    position: absolute;
    right: 0%;
    bottom: 0px;
    transform: translate(-0%, 0);
    background-color:rgba(10,10,10,.5);
    height: 110px;
}

.sponsorContainerTopRight{
    position: absolute;
    right: 0%;
    top: 0px;
    transform: translate(-0%, 0);
    background-color:rgba(10,10,10,.5);
    height: 110px;
}

.sponsorPicture{
    height: 60%;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
}